.*.swp
.deps
.libs
Makefile
Makefile.in
*~
*.la
*.o
*.lo
*.pc
aclocal.m4
atom/config.h
stamp-h1
atom/config.h.in
atom/tests/check_blob
atom/tests/check_values
atom/version.h
autom4te.cache
confdefs.h
config.guess
config.log
config.status
config.sub
configure
conftest.cpp
conftest.err
depcomp
doxyfile
doxyfile.stamp
html/
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
!examples/simple/Makefile
!atom
!prototypes
entity/version.h
examples/simple/run
